#goBack{
    padding: 10px 0 0 10px;
    position: absolute;
    left:0;
    top:0;
}

.preview img{
  cursor:pointer;
  border-radius: 5px;
}

.preview button.buttonText{
  margin-top: 20px;
  font-size:13px;
  width: 80px;
  height: 35px;
}

.preview{
  display: inline-block;
  margin-left:10px
}

button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.correct{
  border: solid 3px lightgreen;
}

.wrong{
  border: solid 3px red;
}

.normal{
  border: solid 3px transparent;  
}